* {
    padding: 0;
    margin: 0;
}



nav {
    height: 90px;
    opacity: 0.8;
    font-family: 'Open Sans', sans-serif;
    background: rgba(0, 0, 0, 5);
    width: 100%;
}

.navbar-brand {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.navbar-nav {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#page1 {
    background-image: url(./iimg/main-bg.jpg);
    height: 960px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}






h1 {
    position: absolute;
    height: 73.12px;
    left: 9.22%;
    right: 10.47%;
    top: calc(50% - 73.12px/2 - 130.06px);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h3 {
    position: absolute;
    left: 33.84%;
    right: 29.66%;
    top: 46.23%;
    bottom: 50.89%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFFFFF;
}

button {
    position: absolute;
    left: 40.83%;
    right: 41.09%;
    top: 55.07%;
    bottom: 38.68%;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;

}

.btn {
    position: absolute;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1A1917;
}

#page2 {
    background-image: url(./iimg/the-games-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
}

.feature {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    padding: 120px;
    margin: auto;
}

.item1 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #ffffff;
}

.item2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.Image1 {
    display: flex;
    gap: 50px;

}

.carousel-control-prev {
    margin-left: -10%;
}

.carousel-control-next {
    margin-left: 470px;
}

.carousel-control-prev-icon {
    background-image: url(./iimg/switch.svg);
}

.carousel-control-next-icon {

    background-image: url(./iimg/switch\ next..svg);
}

.carousel-inner {
    width: 858px;
    height: 477px;
}


#page3 {
    background-image: url(./iimg/features.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 920px;
    width: auto;


}

#page3 .Feature {
    color: white;
    margin-left: 55%;
    padding-top: 258px;
}

#page3 .title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2px;
}

#page3 .title2 {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

}

#page3 li {
    margin-top: 50px;
    color: #FFB548;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    list-style: circle;
}



#page3 .content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    margin-top: 5px;
    margin-left: 35px;

}

#page3 .title4 {
    margin-top: 50px;
    color: #FFB548;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}


#page4 {
    background-image: url(./iimg/requirements.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 120px;

}

.header1 {
    color: white;
    display: flex;
    align-items: flex-start;
}

#page4 .container {
    color: white;
    margin-left: 120px;
    font-weight: 400;
    width: 50%;
    display: grid;
    grid-template-areas:
        "title title"
        "os processor"
        "memory storage"
        "graphics graphics"
}

#page4 .container .item {
    border: 1px solid #979797;
    padding: 12px;
}

#page4 h2 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#page4 .container .item-1 {
    grid-area: title;
}

#page4 .container .item-2 {
    grid-area: os;
}

#page4 .container .item-3 {
    grid-area: processor;
}

#page4 .container .item-4 {
    grid-area: memory;
}

#page4 .container .item-5 {
    grid-area: storage;
}

#page4 .container .item-6 {
    grid-area: graphics;
}

#page4 .title {
    color: #FFB548;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
}

#page4 .content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

#page5 {
    background-image: url(./iimg/bg\ image\ 5.png);
    min-height: 960.16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 1560px;
    color: white;
    display: flex;
    align-items: center;
}

footer {
    background: black;
    padding-top: 100px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 50px;

}

#page5 .container {
    display: grid;
}


footer .footer-icons {
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-weight: 700 bold;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

footer .footer-links {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#page5 .container {
    color: white;
    font-weight: 400;
    display: flex;
    gap: 150px;
}

#page5 .comment {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

#page5 .comment-header {
    display: flex;
    gap: 20px;
}

#page5 .icons {
    margin-left: 80px;
}


#page5 .comment-1 {
    border-style: solid;
    padding: 30px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    border-color: transparent;
    margin-left: 150px;

}

#page5 .comment-2 {
    border-style: solid;
    padding: 30px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    border-color: transparent;
    margin-right: 150px;

}

#page5 .comment-3 {
    border-style: solid;
    padding: 30px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    border-color: transparent;
    margin-left: 150px;

}

#page5 .title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;
    color: #FFB548;
}

#page5 p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.5;
}

#page5 .date {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 9px;
}

#page5 .title-header {
    display: flex;
    align-items: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 50%;
    color: #FFFFFF;
}

#page5 .content {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 40px;
}

#page5 .item-button {
    border-style: solid;
    padding: 20px;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    text-transform: lowercase;
    color: #1A1917;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    margin-top: 50px;

}